<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Employee</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Add New Employee</h1>
    <div class="error-title">
        <h1 id="error-title"></h1>
    </div>
    <form action="/employees/add" method="post">
        <label for="name">Name:</label><br>
        <input type="name" id="name" name="name" required><br>

        <label for="address">Address:</label><br>
        <input type="address" id="address" name="address" required><br>

        <label for="salary">Salary:</label><br>
        <input type="number" id="salary" name="salary" min="1" required><br>

        <label for="role">Role:</label><br>
        <input type="role" id="role" name="role" required><br>

        <label for="employeeNumber">Employee Number:</label><br>
        <input type="employeeNumber" id="employeeNumber" name="employeeNumber" required><br>

        <input type="submit" value="Submit">
    </form> 
</body>
</html>